@tailwind base;
@tailwind components;
@tailwind utilities;

.\[x-cloak\] { display: none !important; }

.logo {
    max-width: 150px; /* Setze die maximale Breite des Logos */
    height: auto;      /* Beibehaltung des Seitenverhältnisses */
    opacity: 0.8;     /* Mache das Logo etwas transparenter für einen dezenten Look */
    /* Optional: Randeinstellungen */
    margin-top: 10px; /* Abstand oben */
    margin-bottom: 10px; /* Abstand unten */
}
