@font-face {
    font-family: 'VAG_Rounded';
    src: url('VAG Rounded Regular.ttf') format('truetype');
    unicode-range: U+0020-007F; /* ASCII */
}


.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;
}

label {
    font-size: 15px;
    margin-bottom: 2px;
}

.label-client {
    font-size: 17px;
}

body {
    font-family: 'VAG_Rounded', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    font-size: 17px;
    margin-top: 0px;

    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.main-content {
    margin-left: 270px;
    padding-top: 40px;
}

/* Volle Höhe des Displays für das vertikale Zentrieren */
.content {

    height: 100%; /* 100% der Höhe des Viewports */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Entfernt überflüssige Scrollleisten */
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Nimmt die volle Höhe des Elterncontainers (content) ein */
}

.tile {
    height: 130px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.tile:hover {
    transform: scale(1.1);
}

.tiletitle {
    font-size: 23px;
}

.tiletext {
    font-size: 18px;
}

.page-content {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(230, 230, 230), white);
}

.btn-transparent {
    background-color: transparent;
    color: rgba(130, 200, 40, 1);
    font-weight: bold;
    font-size: 17px;
}

.btn-transparent:hover {
    background-color: #f9f9f9;
    color: hsl(107, 100%, 29%);
    transition: background-color 0.3s, color 0.3s;
}

.selected {
    background-color: hsl(0, 0%, 80%);
}

.selected-row {
    background-color: #bebebe;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-body table {
    width: 100%;
    margin-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

th, td {
    border: 0px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

th {
    text-align: left;
    color: #6e6e6e;
}

h1, h2, h3 {
    color: rgb(83, 83, 83);
}



.sidebar {
    width: 250px;
    background-color: #fafafa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 1px solid #ddd; /* Hauchdünne Linie auf der rechten Seite */
}

.menu-logo {
    display: flex;
    align-items: center;
}

.bg-dots-darker {
    background-image:url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E")
}

.bg-gray-100{
    --tw-bg-opacity:1;
    background-color: #fafafa;  /*Hier wird der Body Background festgelegt!*/
}

.menu-logo img {
    width: 70px;
    height: auto;
    border-radius: 10%;
    margin-right: 15px;
    margin-left: 15px;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    margin-left:10px;
    padding: 0px;
    padding-right:10px;
    color: #a0a0a0;
}

.sidebar li {
    padding: 0px;
    padding-bottom:8px;

}

.sidebar a {
    text-decoration: none;
    color: #838383;
    display: block;
    padding-left: 10px;
}

.sidebar a i {
    margin: 10px;
}

.sidebar a.active {
    font-weight: bold; /* Fett für aktive Links */
    color: #4fd600; /* Optional: eine andere Farbe für den aktiven Link */
}

.sidebar a:hover {
    background-color: #dbdbdb;
    transition: 0.3s;
    border-radius: 2px;
}

/* Pfeil standardmäßig um 90 Grad gedreht (zeigt nach rechts) */
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

/* Smooth max-height Animation */
.submenu {
    max-height: 0px; /* Standardmäßig geschlossen */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.rotate {
    transform: rotate(90deg); /* Rotiert den Pfeil nach rechts */
}

.test-banner {
    background-color: #ff8181; /* Rot */
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    /*margin-left: -270;*/
    z-index: 1;
  }

.banner-server {
    background-color: #999999; /* Rot */
    color: #fff;
    text-align: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    /*margin-left: -270;*/
    z-index: 9;
}

.user-section {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd; /* Trennlinie unterhalb des User-Bereichs */
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Macht das Profilbild rund */
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: #555; /* Farbe für den Benutzernamen */
}

.logout-link {
    margin-left: auto;
    font-size: 12px;
    color: #999;
    text-decoration: none;
}

.logout-link:hover {
    color: #555;
}

/* Verstecke den Hamburger-Button auf großen Bildschirmen */
.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Für kleine Bildschirme */
@media (max-width: 768px) {
    .sidebar {
        width: 0; /* Verstecke die Sidebar */
        width: 100%; /* Sidebar nimmt die volle Breite ein, wenn sie geöffnet ist */
    }

    /* Zeige den Hamburger-Button */
    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000; /* Damit der Button über der Seite liegt */
    }
}
